ALTER TABLE [dbo].[Department_Payment_Name] DROP CONSTRAINT FK_Department_Payment_Name_Department_Payment
GO

ALTER TABLE [dbo].[Department_Payment_To_Offer] DROP CONSTRAINT FK_Department_Payment_To_Offer_Offer
GO

ALTER TABLE [dbo].[Offer_To_Punch] DROP CONSTRAINT FK_Offer_To_Punch_Offer
GO

ALTER TABLE [dbo].[Punch_to_Order] DROP CONSTRAINT FK_Punch_to_Order_Order_Punch
GO

ALTER TABLE [dbo].[Department_Payment_To_Offer] DROP CONSTRAINT FK_Department_Payment_To_Offer_Department_Payment_Name
GO

/****** Object:  Table [dbo].[Department_Payment_To_Offer]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Department_Payment_To_Offer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Department_Payment_To_Offer]
GO

/****** Object:  Table [dbo].[Department_Payment_Name]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Department_Payment_Name]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Department_Payment_Name]
GO

/****** Object:  Table [dbo].[Offer_To_Punch]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Offer_To_Punch]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Offer_To_Punch]
GO

/****** Object:  Table [dbo].[Punch_to_Order]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Punch_to_Order]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Punch_to_Order]
GO

/****** Object:  Table [dbo].[BalancePrinter]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[BalancePrinter]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BalancePrinter]
GO

/****** Object:  Table [dbo].[Company]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Company]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Company]
GO

/****** Object:  Table [dbo].[Department_Payment]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Department_Payment]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Department_Payment]
GO

/****** Object:  Table [dbo].[Offer]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Offer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Offer]
GO

/****** Object:  Table [dbo].[Order_Punch]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Order_Punch]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Order_Punch]
GO

/****** Object:  Table [dbo].[Payment_Of_Printer]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Payment_Of_Printer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Payment_Of_Printer]
GO

/****** Object:  Table [dbo].[Payment_Of_Sheet]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Payment_Of_Sheet]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Payment_Of_Sheet]
GO

/****** Object:  Table [dbo].[Payment_Of_The_Work]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Payment_Of_The_Work]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Payment_Of_The_Work]
GO

/****** Object:  Table [dbo].[Punch]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Punch]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Punch]
GO

/****** Object:  Table [dbo].[Receive_Else]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Receive_Else]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Receive_Else]
GO

/****** Object:  Table [dbo].[Receive_Faculity]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Receive_Faculity]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Receive_Faculity]
GO

/****** Object:  Table [dbo].[Receive_Money5]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Receive_Money5]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Receive_Money5]
GO

/****** Object:  Table [dbo].[Receive_Printer]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Receive_Printer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Receive_Printer]
GO

/****** Object:  Table [dbo].[Receive_Sheet]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Receive_Sheet]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Receive_Sheet]
GO

/****** Object:  Table [dbo].[Teacher]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Teacher]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Teacher]
GO

/****** Object:  Table [dbo].[TransferMoney]    Script Date: 29/3/43 16:54:56 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[TransferMoney]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TransferMoney]
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
if not exists (select * from master..syslogins where name = N'Wanit')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'DFMS', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master..sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master..syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'Wanit', null, @logindb, @loginlang
END
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', sysadmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', securityadmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', serveradmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', setupadmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', processadmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', diskadmin
GO

/****** Object:  Login Wanit    Script Date: 29/3/43 16:54:54 ******/
exec sp_addsrvrolemember N'Wanit', dbcreator
GO

/****** Object:  User Administrators    Script Date: 29/3/43 16:54:54 ******/
if not exists (select * from sysusers where name = N'Administrators' and uid < 16382)
	EXEC sp_grantdbaccess N'BUILTIN\Administrators', N'Administrators'
GO

/****** Object:  User dbo    Script Date: 29/3/43 16:54:54 ******/
/****** Object:  Table [dbo].[BalancePrinter]    Script Date: 29/3/43 16:55:01 ******/
CREATE TABLE [dbo].[BalancePrinter] (
	[Student_Code] [varchar] (10) NOT NULL ,
	[Balance_Money] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Company]    Script Date: 29/3/43 16:55:02 ******/
CREATE TABLE [dbo].[Company] (
	[No_Company] [int] NOT NULL ,
	[Name] [varchar] (40) NULL ,
	[Address] [varchar] (80) NULL ,
	[Phone] [varchar] (15) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Department_Payment]    Script Date: 29/3/43 16:55:02 ******/
CREATE TABLE [dbo].[Department_Payment] (
	[No_Pay_Dept] [int] NOT NULL ,
	[Years] [int] NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Offer]    Script Date: 29/3/43 16:55:03 ******/
CREATE TABLE [dbo].[Offer] (
	[No_Offer] [int] NOT NULL ,
	[Offer_Name] [varchar] (45) NULL ,
	[Kind_Of_Budget] [varchar] (15) NULL ,
	[Project_Name_Fact] [varchar] (40) NULL ,
	[Project_Name_Punch] [varchar] (40) NULL ,
	[Dat_] [datetime] NULL ,
	[Head_Commitee] [varchar] (45) NULL ,
	[Commitee1] [varchar] (45) NULL ,
	[Commitee2] [varchar] (45) NULL ,
	[Commitee3] [varchar] (45) NULL ,
	[Comment] [varchar] (60) NULL ,
	[No_Pay_Dept] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Order_Punch]    Script Date: 29/3/43 16:55:03 ******/
CREATE TABLE [dbo].[Order_Punch] (
	[No_Order] [int] NOT NULL ,
	[List_Name] [varchar] (60) NULL ,
	[Qty] [int] NULL ,
	[Price] [float] NULL ,
	[Comment] [varchar] (100) NULL ,
	[Vat] [varchar] (5) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Payment_Of_Printer]    Script Date: 29/3/43 16:55:04 ******/
CREATE TABLE [dbo].[Payment_Of_Printer] (
	[Dat_] [datetime] NULL ,
	[Pay_For] [varchar] (40) NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Payment_Of_Sheet]    Script Date: 29/3/43 16:55:04 ******/
CREATE TABLE [dbo].[Payment_Of_Sheet] (
	[Dat_] [datetime] NULL ,
	[Pay_For] [varchar] (40) NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Payment_Of_The_Work]    Script Date: 29/3/43 16:55:04 ******/
CREATE TABLE [dbo].[Payment_Of_The_Work] (
	[dat_] [datetime] NULL ,
	[Pay_for] [varchar] (40) NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Punch]    Script Date: 29/3/43 16:55:05 ******/
CREATE TABLE [dbo].[Punch] (
	[No_Punch] [varchar] (15) NOT NULL ,
	[No_Company] [int] NOT NULL ,
	[Dat_] [datetime] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Receive_Else]    Script Date: 29/3/43 16:55:05 ******/
CREATE TABLE [dbo].[Receive_Else] (
	[Dat_] [datetime] NULL ,
	[Receive_From] [varchar] (40) NULL ,
	[Total] [float] NULL ,
	[Comment] [varchar] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Receive_Faculity]    Script Date: 29/3/43 16:55:05 ******/
CREATE TABLE [dbo].[Receive_Faculity] (
	[Dat_] [datetime] NULL ,
	[Years] [float] NULL ,
	[Kind] [varchar] (15) NOT NULL ,
	[ToTal] [float] NOT NULL ,
	[Comment] [varchar] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Receive_Money5]    Script Date: 29/3/43 16:55:06 ******/
CREATE TABLE [dbo].[Receive_Money5] (
	[Dat_] [datetime] NULL ,
	[Receive_From] [varchar] (40) NULL ,
	[Total] [float] NULL ,
	[Comment] [varchar] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Receive_Printer]    Script Date: 29/3/43 16:55:06 ******/
CREATE TABLE [dbo].[Receive_Printer] (
	[Dat_] [datetime] NULL ,
	[Receive_From] [varchar] (15) NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Receive_Sheet]    Script Date: 29/3/43 16:55:06 ******/
CREATE TABLE [dbo].[Receive_Sheet] (
	[Dat_] [datetime] NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Teacher]    Script Date: 29/3/43 16:55:06 ******/
CREATE TABLE [dbo].[Teacher] (
	[ID_Teacher] [int] NOT NULL ,
	[Name] [varchar] (15) NULL ,
	[Sirname] [varchar] (30) NULL ,
	[Positions] [varchar] (30) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TransferMoney]    Script Date: 29/3/43 16:55:07 ******/
CREATE TABLE [dbo].[TransferMoney] (
	[NO] [int] NOT NULL ,
	[Dat_] [datetime] NULL ,
	[Years] [int] NULL ,
	[Money_Kind1] [int] NULL ,
	[Money_Kind2] [int] NULL ,
	[TransferMoney] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Department_Payment_Name]    Script Date: 29/3/43 16:55:07 ******/
CREATE TABLE [dbo].[Department_Payment_Name] (
	[No_Pay_Dept] [int] NOT NULL ,
	[Name_Payment] [varchar] (20) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Offer_To_Punch]    Script Date: 29/3/43 16:55:08 ******/
CREATE TABLE [dbo].[Offer_To_Punch] (
	[No_Offer] [int] NOT NULL ,
	[No_Punch] [varchar] (15) NOT NULL ,
	[Total] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Punch_to_Order]    Script Date: 29/3/43 16:55:08 ******/
CREATE TABLE [dbo].[Punch_to_Order] (
	[No_Punch] [varchar] (15) NOT NULL ,
	[No_Order] [int] NOT NULL ,
	[No_Company] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Department_Payment_To_Offer]    Script Date: 29/3/43 16:55:08 ******/
CREATE TABLE [dbo].[Department_Payment_To_Offer] (
	[No_Offer] [int] NOT NULL ,
	[No_Pay_Dept] [int] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BalancePrinter] WITH NOCHECK ADD 
	CONSTRAINT [PK_BalancePrinter] PRIMARY KEY  NONCLUSTERED 
	(
		[Student_Code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Company] WITH NOCHECK ADD 
	CONSTRAINT [PK_Company] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Company]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Department_Payment] WITH NOCHECK ADD 
	CONSTRAINT [PK_Department_Payment] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Pay_Dept]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Offer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Offer] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Offer]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Order_Punch] WITH NOCHECK ADD 
	CONSTRAINT [PK_Order_Punch] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Order]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Punch] WITH NOCHECK ADD 
	CONSTRAINT [PK_Punch] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Punch],
		[No_Company]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Teacher] WITH NOCHECK ADD 
	CONSTRAINT [PK_Teacher] PRIMARY KEY  NONCLUSTERED 
	(
		[ID_Teacher]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[TransferMoney] WITH NOCHECK ADD 
	CONSTRAINT [PK_TransferMoney] PRIMARY KEY  NONCLUSTERED 
	(
		[NO]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Department_Payment_Name] WITH NOCHECK ADD 
	CONSTRAINT [PK_Department_Payment_Name] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Pay_Dept]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Offer_To_Punch] WITH NOCHECK ADD 
	CONSTRAINT [PK_Offer_To_Punch] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Offer],
		[No_Punch]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Punch_to_Order] WITH NOCHECK ADD 
	CONSTRAINT [PK_Punch_to_Order] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Punch],
		[No_Order],
		[No_Company]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Department_Payment_To_Offer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Department_Payment_To_Offer] PRIMARY KEY  NONCLUSTERED 
	(
		[No_Offer],
		[No_Pay_Dept]
	)  ON [PRIMARY] 
GO

 CREATE  UNIQUE  INDEX [BalancePrinter0] ON [dbo].[BalancePrinter]([Student_Code]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Company0] ON [dbo].[Company]([No_Company], [Name]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Sec_Index] ON [dbo].[Company]([Name]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Department_Payment0] ON [dbo].[Department_Payment]([No_Pay_Dept], [Years]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Offer0] ON [dbo].[Offer]([No_Offer], [No_Pay_Dept]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Order_Punch0] ON [dbo].[Order_Punch]([No_Order]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_Payment_Of_Printer] ON [dbo].[Payment_Of_Printer]([Dat_], [Pay_For]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_Payment_Of_Sheet] ON [dbo].[Payment_Of_Sheet]([Dat_], [Pay_For]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_Payment_Of_The_Work] ON [dbo].[Payment_Of_The_Work]([dat_], [Pay_for]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_Punch] ON [dbo].[Punch]([No_Punch], [No_Company]) ON [PRIMARY]
GO

 CREATE  INDEX [IX_Receive_Else] ON [dbo].[Receive_Else]([Dat_], [Receive_From]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Receive_Faculity0] ON [dbo].[Receive_Faculity]([Dat_], [Years], [Kind]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Teacher0] ON [dbo].[Teacher]([ID_Teacher], [Name], [Sirname]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [TransferMoney0] ON [dbo].[TransferMoney]([NO]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Department_Payment_Name0] ON [dbo].[Department_Payment_Name]([No_Pay_Dept]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Offer_To_Punch0] ON [dbo].[Offer_To_Punch]([No_Offer], [No_Punch]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Punch_to_Order0] ON [dbo].[Punch_to_Order]([No_Punch], [No_Order], [No_Company]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [Department_Payment_To_Offer0] ON [dbo].[Department_Payment_To_Offer]([No_Offer], [No_Pay_Dept]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Department_Payment_Name] ADD 
	CONSTRAINT [FK_Department_Payment_Name_Department_Payment] FOREIGN KEY 
	(
		[No_Pay_Dept]
	) REFERENCES [dbo].[Department_Payment] (
		[No_Pay_Dept]
	)
GO

ALTER TABLE [dbo].[Offer_To_Punch] ADD 
	CONSTRAINT [FK_Offer_To_Punch_Offer] FOREIGN KEY 
	(
		[No_Offer]
	) REFERENCES [dbo].[Offer] (
		[No_Offer]
	)
GO

ALTER TABLE [dbo].[Punch_to_Order] ADD 
	CONSTRAINT [FK_Punch_to_Order_Order_Punch] FOREIGN KEY 
	(
		[No_Order]
	) REFERENCES [dbo].[Order_Punch] (
		[No_Order]
	)
GO

ALTER TABLE [dbo].[Department_Payment_To_Offer] ADD 
	CONSTRAINT [FK_Department_Payment_To_Offer_Department_Payment_Name] FOREIGN KEY 
	(
		[No_Pay_Dept]
	) REFERENCES [dbo].[Department_Payment_Name] (
		[No_Pay_Dept]
	),
	CONSTRAINT [FK_Department_Payment_To_Offer_Offer] FOREIGN KEY 
	(
		[No_Offer],
		[No_Pay_Dept]
	) REFERENCES [dbo].[Offer] (
		[No_Offer],
		[No_Pay_Dept]
	)
GO

